.blogdetail{
    .container{
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
    .title{
        color: burlywood;
    }
    img{
        border: 0;
        width: 360px;
    }
    p{
        text-indent: 50px;
        
    }
    // .source{
    //     text-align: end;

    // }
}