.home-page {
    background-color: unset;
    .hero-section {
        z-index: 1000;
        background-color: unset;
        .video-wrap {
            .custom-video {
                &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background-image: linear-gradient(180deg, #ffffff00 90%, #000000 100%) !important;
                }
            }
        }
    }
    .stevia-section {
        position: relative;
        .what-stevia {
            position: relative;
            z-index: 1000;
            .col {
                padding-top: 3rem;
                padding-bottom: 3rem;
            }
        }
        .video-wrap {
            div {
                background-repeat: no-repeat;
                background-position: top;
                background-size: cover;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                height: 1200px;
            }
            &::after {
                content: "";
                position: absolute;
                background-image: linear-gradient(
                    180deg,
                    #000000 0%,
                    #000000ab 10%,
            #3f3f3f9c 100%,
                ) !important;
                width: 100%;
                height: 100%;
                top: 0;
            }
        }
    }
    .section-bg {
        background-image: linear-gradient(
            180deg,
            #f0f8ff 0%,
            #fff8ef 100%
        ) !important;
    }
    .pricing-section {
        z-index: 100;
        position: relative;
    }
}
