.hero-section {
    background-color: unset;
}
.home-page {
    background-color: unset;
    .what-stevia {
        .col {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }
}
