.products-page{
   margin-top: 7rem;
   padding: 10rem;
   .top-card{
    margin-top: 2rem;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
   }
   .top-img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2em;
   }
   .card{
    background-color: inherit;
    border: 0;
    padding: 2rem;
   }
   .p-image{
    height: 600px;
    margin-left: auto;
    margin-right: auto;
   }
   .p-detail{
    margin-top: 5rem;
    h2{
        // color: $color_3;
        margin-bottom: 5rem;
    }
    strong{
        color: $color_2;
        min-width: 180px;
        margin-right: 20px;
    }
    i{
        font-size: 40px;
        color: $color_3; 
    }
    .price{
        text-align: right;
        i{
            color: $color_4;
            min-width: 180px;
            margin-right: 20px;
        }
    }
   }


   @media (min-width: 300px) and (max-width: 1200px) {
    padding: 0;
    .top-img{
       display: none;
       }
    .top-card{
        margin-top: 2rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
       }
       .card{
        text-align: center;
       }
       .p-image{
        height: 340px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
       }
       .p-detail{
        margin-top: 1rem;
        h2{
            // color: $color_3;
            margin-bottom: 2rem;
        }
       }
   }
   
}