@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: db_helvethaica ;
    src: url(fonts/db_helvethaica.ttf);
}

@font-face {
    font-family: Trajan_Pro;
    src: url(fonts/Trajan_Pro.ttf);
}

body{
    background-color: #241f21;
    // background-image: url("/images/bg-8.jpg");
    // background-repeat: no-repeat;
}

