@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: TH_Charmonman_Regular;
    src: url(fonts/TH_Charmonman_Regular.ttf);
}

@font-face {
    font-family: Trajan_Pro;
    src: url(fonts/Trajan_Pro.ttf);
}

body{
    background-image: url('/images/bg.jpg') ;
}

.headertexr{

    :hover{
        box-shadow: 0 0 10px #000;
    }
    
} 